html{
background: url(The_braggingbg.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
nav.horizontal {
   height: 70px;
   background-color: none;
   width: 100%;
}

nav.horizontal li {
   background-color: none;
   font-size: 16px;
   float: left;
   display: block;
   height: 50px;
   line-height: 50px;
   margin: 0px 5px;
   text-align: center;
   width: 180px;
}

nav.horizontal li a {
   background-color: blue;
   -moz-border-radius: 30px/25px;
   -webkit-border-radius: 30 25px;
   border-radius: 30px/25px;
   color: black;
   display: block;
   text-decoration: none;
}

nav.horizontal li a:hover {
   background-color: blue;
   color: black;
}
#main{
background-color: none;
float: center;
width: 600px;
text-align: center; 
color: white;
}
#main >h1{
float: center;
margin: 0px;
width: 450px;
text-align: center;
color: white;
}
#main >h2{
text-decoration: underline;
margin:0px;
width: 550px;
text-align: center;
color: white;
}
#main>p{
font-size: 20px;
margin: 15px;
text-align:center;
color:white;
}
#main img{
float: center;
margin 15px;
width: 350px;
}
aside{
text-align: center;
color: white;
text-decoration: underline;
}